*{
box-sizing:border-box;
}
body{
margin:0;
background:black;
}
nav{
    background:black;
    width:100%;
    overflow:auto;
    }
    ul{
    margin:0;
    padding:0;
    list-style:none;
    }
    li{
    float:left;
    
    
    }
    nav a{
    width:120px;
    display:block;
    text-decoration:none;
    text-align:center;
    background:black;
    font-size:17px;
    color:WHITE;
    padding:20px 10px;
    font-family:"comic sans mc";
    }
    nav a:hover{
    color:skyblue;
    }


h1{
color:#D6D6D6;
text-align: center;
}
nav ul li::after{
content:'';
height:3px;
width:0;
background:#008080;
position:absolute;
left:0;
bottom:0;
transition:0.5s;
}
nav ul li:hover::after{
width:100%;
}
nav ul li{
list-style: none;
display: inline-block;
margin: 0 10px;
position:relative;
}
p{
    color:white;
    text-align: center;
    
}
.info{
    font-size: 20px;
}