
*{
box-sizing:border-box;
}
body{
margin:0;
background:#3B8FA1;
}
nav{
background:skyblue;
width:100%;
overflow:auto;
}
ul{
margin:0;
padding:0;
list-style:none;
}
li{
float:left;
}
nav a{
width:120px;
display:block;
text-decoration:none;
text-align:center;
background:skyblue;
font-size:17px;
color:WHITE;
padding:20px 10px;
font-family:"comic sans mc";
}
nav a:hover{
background:skyblue;
color:black;
}
.contant{
max-width:1200px;
margin:auto;
background:#f2f2f2;
overflow:auto;
}
.gallery{
margin:5px;
border:1px solid #ccc;
float:left;
width:390px;
}
.gallery img{
width:100%;
height:auto;
}
.info{
padding:15px;
text-align:center;
}
footer{
padding:10px;
font-sie:15px;
font-weight:bold;
text-align:center;
color:white;
}
a{
text-decoration:none;
color:black;
}
